Python/python-manuscripts/**/*.txt
Python/python-manuscripts/**/*.conf
Python/python-manuscripts/**/*.log
Python/python-manuscripts/**/*.yaml
Python/python-manuscripts/**/*.json
Python/python-manuscripts/**/kubeconfig-local
