Python/python-manuscripts/**/*.txt
Python/python-manuscripts/**/*.conf
Python/python-manuscripts/**/*.log
Python/python-manuscripts/**/*.yaml
Python/python-manuscripts/**/*.json
Python/python-manuscripts/**/*.xlsx
Python/python-manuscripts/**/*.docx
Python/python-manuscripts/**/kubeconfig-local
Python/python-manuscripts/**/*.sqlite3
Python/python-manuscripts/**/staticfiles
Python/python-manuscripts/**/media
Python/python-manuscripts/**/__pycache__
Python/python-manuscripts/**/*.pyc
Python/python-manuscripts/**/*.env
Python/python-manuscripts/**/venv